<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item menu__item--hideFavorites js_showFavorites">
      <span class="itemContentFavorites">
        <ion-icon
          name="heart-outline"
          class="itemContentFavorites__icon js_favoritesIcon"
        ></ion-icon>
      </span>
      <span class="itemContentText hidden">Show favorites</span>
    </li>
    <li class="menu__item menu__item--searches js_showSearches">
      <span class="itemContent">
        <ion-icon
          name="wine-outline"
          class="itemContent__icon itemContent__icon--searches"
        ></ion-icon>
      </span>
    </li>
  </ul>
</nav>
