<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item menu__item--hideFavorites js_showFavorites">
      <span class="itemContent">
        <ion-icon name="heart-outline" class="js_favoritesIcon"></ion-icon>
      </span>
      <span class="itemContentText hidden">Show favorites</span>
    </li>
    <li class="menu__item menu__item--showSearches js_showSearches">
      <span class="itemContent">
        <ion-icon name="wine" class="js_searchesIcon"></ion-icon>
      </span>
    </li>
  </ul>
</nav>
