.search {
  background-color: $colorWhiteTransparent;
  border-top: $colorSoftGreyTransparent 2px solid;
  border-left: $colorSoftGreyTransparent 2px solid;
  border-bottom: $colorDarkGreyTransparent 2px solid;
  border-right: $colorDarkGreyTransparent 2px solid;
  border-radius: 15px;

  min-width: 240px;
  width: calc(100% - 60px);
  max-width: 800px;

  margin: 0 30px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;


  &__title {
    width: 100%;

    color: $colorWhite;	
    text-shadow:
      0 0 5px $colorSoftBackground,
      0 0 10px $colorSoftBackground,
      0 0 20px $colorSoftBackground,
      0 0 40px $colorMediumBackground,
      0 0 80px $colorMediumBackground,
      0 0 90px $colorDarkBackground;
    font-family: $fontTitle;
    font-size: 24px;
    text-align: center;
  }


  &__list {    
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

    .drink {
      background-color: $colorWhite;
      margin: 20px;
      padding: 5px;

      box-shadow: 0 0 20px $colorBlack;


      &__image {
        width: 150px;
      }

      &__title {
        width: 150px;

        font-family: $fontTextTitle;
        text-align: center;
      }

      &--favorite {
        box-shadow:
          0 0 5px $colorSoftPink,
          0 0 10px $colorSoftPink,
          0 0 20px $colorSoftPink,
          0 0 30px $colorMediumPink,
          0 0 40px $colorMediumPink,
          0 0 50px $colorDarkPink;

        border: pink 5px solid;

      }

      .addRemoveFavorite {
        background-color: $colorWhite;
        border-radius: 50%;

        width: 30px;
        height: 30px;

        color: $colorMediumBackground;
        font-size: 25px;
        line-height: 1.55;
        text-align: center;

        position: absolute;

        transform: translateY(-17px) translateX(138px);

        cursor: pointer;


        &--added {
          color: $colorSoftPink;
        }
      }
    }
  }
}
