.menu {
  width: 150px;

  margin: 35px auto -2px;


  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__item {
    background-color: $colorDarkBackground;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    width: 70px;
    height: 60px;

    font-size: 45px;
    line-height: 1.7;
    text-align: center;

    cursor: pointer;


    .itemContent {
      border: 2px outset;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;

      width: 100%;
      height: 100%;

      padding-top: 2px;

      display: block;


      &--hideFavorites {
        background-color: $colorDarkPinkSuperTransparent;
        border-color: $colorSoftPinkTransparent;
        border-bottom: none;

        color: $colorSoftPinkTransparent;
      }

      &--showFavorites {
        background-color: $colorDarkPinkSuperTransparent;
        border-color: $colorSoftPinkTransparent;
        border-bottom: none;

        color: $colorSoftPinkTransparent;
      }


      &--showSearches {
        background-color: $colorWhiteTransparent;
        border-color: $colorWhite;
        border-bottom: none;
  
        color: $colorWhite;
      }

      &--hideSearches {
        background-color: $colorWhiteTransparent;
        border-color: $colorWhite;
        border-bottom: none;
  
        color: $colorWhite;
      }
  }


    .itemContentText {
     font-size: 25px;
    }
  }
}