body {
  min-height: 100vh;
  width: 100vw;

  background-image: linear-gradient($colorDarkBackground 30%, $colorMediumBackground 70%, $colorSoftBackground);
  background-repeat: no-repeat;

  font-size: 16px;
}