/* COLORS */

// Basics
$colorWhite: #ffffff;
$colorBlack: #000;

//Buttons
$colorSoftSilver: #e3e4e5;
$colorMediumSilver: #b9babb;
$colorDarkSilver: #919292;

// Error messages
$colorSoftBlue: #29cde2;
$colorMediumBlue: #277ccc;

// Main List
$colorWhiteTransparent: rgba(255, 255, 255, 0.404);
$colorSoftGreyTransparent: rgba(202, 202, 202, 0.815);
$colorDarkGreyTransparent: rgb(59, 59, 59);

// Favorites & Header
$colorSoftPink: #ff02ff;
$colorMediumPink: #a51da5;
$colorDarkPink: #631a63;
$colorSoftPinkTransparent: rgba(255, 2, 255, 0.8);
$colorSoftPinkSuperTransparent: #fd84fd93;
$colorDarkPinkSuperTransparent: rgba(255, 2, 255, 0.171);
$colorDarkPinkTransparent: #4b134bce;

// Body background
$colorDarkBackground: #0a000a;
$colorMediumBackground: #1d031d;
$colorSoftBackground: #310831;


/* Fonts */

$fontTitle: 'Henny Penny', cursive;
$fontSubtitle: 'Rock Salt', cursive;
$fontTextTitle: 'Stardos Stencil', cursive;
$fontText: 'Architects Daughter', cursive;
$fontError: 'Aldrich', sans-serif;