.error {
  margin: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__text {
  margin-bottom: 10px;

  color: $colorWhite;	
  text-shadow:
    0 0 5px $colorSoftBlue,
    0 0 10px $colorSoftBlue,
    0 0 20px $colorSoftBlue,
    0 0 40px $colorMediumBlue;

  font-family: $fontError;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  }


  &__image {
    max-height: 300px;
    max-width: 100%;

    margin-top: 20px;

    @media all and (min-width: 660px) {
      max-width: 600px;
    }

  }
}