.favorites {
  background-color: $colorSoftPinkSuperTransparent;
  border: $colorSoftPinkTransparent 3px solid;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin: 30px;

  &__title {
    background-color: $colorSoftPinkTransparent;

    width: 100%;

    font-family: $fontSubtitle;
    font-size: 20px;
    text-align: center;
  }


  &__list {    
  display: flex;
  flex-direction: column;
  justify-content: center;

    .favorite {
      margin: 25px 40px;

      display: flex;
      align-items: center;
      

      @media all and (min-width: 768px) {
        gap: 20px;
      }


      &__image {
        width: 100px;

        box-shadow: 0 0 10px $colorBlack;

        @media all and (min-width: 768px) {
          width: 120px;
        }
      }

      &__title {
        width: 150px;

        font-family: $fontTextTitle;
        font-size: 20px;
        color: $colorSoftPink;
        text-shadow: 
          0 0 10px $colorBlack,
          0 0 20px $colorBlack;
        text-align: center;
      }


      .deleteFavorite {
        background-color: $colorSoftPinkTransparent;
        border: $colorMediumSilver 2px solid;
        border-radius: 50%;


        width: 30px;
        height: 30px;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        @media all and (min-width: 768px) {
          width: 50px;
          height: 50px;
        }


        &__icon {
          font-size: 20px;
          color: $colorDarkBackground;

          @media all and (min-width: 768px) {
            font-size: 30px;
          }
        }

      }


    }
  }

  .resetFavorites {
    background-image: linear-gradient($colorSoftSilver, $colorMediumSilver, $colorDarkSilver);

    box-shadow:
      0 0 10px $colorMediumPink;

    width: 140px;

    margin: 20px;
    padding: 5px;

    color: $colorDarkBackground;

  }
}