.mainList {
  background-color: $colorWhiteTransparent;
  border: $colorWhite 3px solid;
  border-radius: 5px;

  min-width: 200px;

  @media all and (min-width: 768px) {
    min-width: 440px;
  }


  margin: 30px;


  &__title {
    background-color: $colorWhite;

    font-family: $fontSubtitle;
    font-size: 20px;
    text-align: center;

    display: block;
  }


  &__list {    
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

    .drink {
      background-color: $colorWhite;
      margin: 20px;
      padding: 5px;

      box-shadow: 0 0 20px $colorBlack;

      cursor: pointer;


      &__image {
        width: 150px;
      }

      &__title {
        width: 150px;

        font-family: $fontTextTitle;
        text-align: center;
      }

      &--favorite {
        box-shadow:
          0 0 5px $colorSoftPink,
          0 0 10px $colorSoftPink,
          0 0 20px $colorSoftPink,
          0 0 30px $colorMediumPink,
          0 0 40px $colorMediumPink,
          0 0 50px $colorDarkPink;

          border: pink 5px solid;
      }


    }
  }
}
